.logo {
	width: 50px;
	height: 50px;
	padding: 5px;
}

.app-name {
	font-size: 28px;
	text-transform: none;
	font-weight: bold;
}

.header {
	box-shadow: 0 0 2px rgba(0,0,0,.5);
    background-color: #FFFFFF;
}

.navbar {
	padding: 5px 10px;
}

.user {
	font-style: italic;
    font-weight: bold;
    font-size: 14px;
    font-family: Georgia, serif;
}

.logout {
	font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-family: sans-serif;
}

.nav-item {
	display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.nav-item.active {
	font-weight: bold;
	border-bottom: 2px solid #ffcd41;
}

.nav-link {
	padding: 0;
}

.dropdown-menu {
	top: 70%;
	left: 20%;
}